* {
    margin: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;

}

.main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
flex-direction: column;
}

.keyboard {
    width: 830px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
}

.keywrapper {
    height:500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.key {
    height:45px;
    min-width: 45px;
    text-align: center;
margin: 3px;
color: white;
background-color: black;
border:1px solid black;
border-radius: 5px;
box-shadow: 3px 3px 4px 0px rgba(230, 0, 255, 0.45);
cursor: pointer;
}



.key:hover{
    cursor: pointer;
    background-color: rgba(82, 12, 87, 0.542);    
}

.textarea {
    width: 830px;
    height: 150px;
    border: 1px solid black;
}


.textarea:focus-visible{
outline: none;
border: 1px solid black;
}
.btn59 {
    width: 360px;
}

.btn13, .btn28, .btn29 {
    min-width: 100px;
}

.btn42 {
    min-width: 130px;
}

.btn14 {
    min-width: 50px;
}

.btn28 {
    min-width: 48px;
}
.btn41 {
    min-width: 90px;
}
.btn56, .btn61 {
    min-width: 55px;
}

.activeBtn {
background-color: rgb(72, 2, 80);
border:1px solid black;
}

.activeBtnAll {
    background-color: rgba(82, 12, 87, 0.542);   
}

.lanchange {
    text-align: center;
}